# Enable rewrite engine
RewriteEngine On

# Remove .php extension from URLs
RewriteCond %{THE_REQUEST} \s/+([^?]+)\.php [NC]
RewriteRule ^ /%1 [NC,L,R=301]

# If the request does not map to a file, assume .php extension
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php [NC,L]

# Set Access-Control-Allow-Origin header
Header Set Access-Control-Allow-Origin "*"

# Rewriting URL to /index.php
# Match the pattern and redirect to the desired URL structure
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php?page=$1 [L]

<IfModule mod_expires.c>
    ExpiresActive On

    # Set expiry for images to 1 year (31536000 seconds)
    ExpiresByType image/jpeg "access plus 1 year"
    ExpiresByType image/png "access plus 1 year"
    ExpiresByType image/gif "access plus 1 year"
    ExpiresByType image/svg+xml "access plus 1 year"

    # Set expiry for CSS and JavaScript files to 1 week (604800 seconds)
    ExpiresByType text/css "access plus 1 week"
    ExpiresByType application/javascript "access plus 1 week"
</IfModule>